<!DOCTYPE html>

<html lang="en" data-ng-app="apiApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <meta name="generator" content="Jekyll v3.8.5">
    <title>Teste BackEnd</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->

</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>Teste de BackEnd - Finch Inteligência Artificial</h2>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation inline " novalidate="">
                <div class="form-group row">
                    <label for="tipo" class="col-sm-6 col-form-label">Selecione o tipo de texto a ser analisado:</label>
                    <div class="col-sm-2">
                        <select class="custom-select d-block w-100" id="tipo" required="">
                            <option value="publicacao">Publicação</option>
                            <option value="ata">Ata</option>
                        </select>
                    </div>
                    <label for="confiancaDesejada" class="col-sm-2 col-form-label">Confiança:
                    </label>
                    <input type="text" id="display" value="0" readonly="readonly" size="3" disabled>
                    <input type="range" id="confiancaDesejada" min="0" max="100" step="5" value="0" oninput="display.value=value" onchange="display.value=value">
                </div>
                <div class="form-group">
                    <div class="col-span-12">
                        <textarea class="form-control" aria-label="" id="texto" rows="10"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-span-12">
                        Retorno da IA:
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6 col-md-4">
                        <button type="button" class="btn btn-secondary">Exemplo Ata</button>
                        <button type="button" class="btn btn-secondary" >Exemplo Pulicação</button>
                    </div>
                    <div class="col-6 col-md-4"></div>
                    <div class="col-6 col-md-4 well pull-right">
                        <button type="button" class="btn btn-info" data-ng-click="openModal()">Configurações</button>
                        <button type="button" class="btn btn-dark btn">Enviar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="configModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-ng-click="clearLanche()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">URLs</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="lanche-ata" class="control-label">Ata:</label>
                    <input type="text" class="form-control" id="lanche-ata" data-ng-model="lanche.ata">
                </div>
                <div class="form-group">
                    <label for="lanche-publicacao" class="control-label">Publicação:</label>
                    <input type="text" class="form-control" id="lanche-publicacao" data-ng-model="lanche.publicacao">
                </div>
            </div>

            <div class="modal-body" ng-if="valores">
                <div class="form-group">
                    <label class="control-label"></label>

                </div>
            </div>

            <div class="modal-footer" ng-if="!valores">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clearLanche()">Cancelar</button>
                <button type="button" class="btn btn-primary" data-ng-click="saveLanche(lanche)">Gravar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="assets/libs/angular/angular-route.min.js"></script>
<script type="text/javascript" src="assets/libs/angular/angular-locale_pt-br.js"></script>
<script type="text/javascript" src="assets/libs/angular/angular-cookies.min.js"></script>

<script type="text/javascript" src="app/app.modules.js"></script>
<script type="text/javascript" src="app/app.routes.js"></script>
<script type="text/javascript" src="app/components/home/homeController.js"></script>
<script type="text/javascript" src="app/components/pedido/pedidoController.js"></script>
<script type="text/javascript" src="app/components/pedido/apiService.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>