<div>
    
    
    <table class="table table-striped table-bordered">
        <tr>
            <th>Codigo</th>
            <th>Ingrediente</th>
            <th>Valor</th>
            <th style="width: 10%;"></th>
        </tr>
        <tr data-ng-repeat=" ing in pedido.ingredientes">
            <td>{{ing.id}}</td>
            <td>{{ing.nome}}</td>
            <td>{{ing.valor | currency}}</td>
            <td>
                <input type="hidden" data-ng-model="ing.id" />
                <input type="number" data-ng-model="ing.qtde" min="0" />
            </td>
        <tr> 
            <td>Promoção</td>
            <td colspan="3" style="width: 10%;">
                <select name="promocao" data-ng-model="pedido.promocao">
                    <option value="">Nenhuma</option>
                    <option value="Light">Light</option>
                    <option value="MuitoQueijo">Muito Queijo</option>
                    <option value="MuitaCarne">Muita Carne</option>   
                </select>
            </td>
        </tr>
        
    </table>
    
    <div ng-if="!retorno" >
    <button type="button" class="btn btn-default" data-ng-click="enviarPedido(pedido)" style="float: right;">
         Confirmar pedido
    </button>
    </div>
    <div ng-if="retorno">
        Valor do lanche personalizado: {{retorno.valorTotal | currency }} <br/> 
    </div>

    
</div>