<table class="table table-striped table-bordered">
	<tr>
		<th>Codigo</th>
		<th>Lanche</th>	
                <th></th>
	</tr>
        <tr data-ng-repeat="lanche in lanches">
		<td>{{lanche.id}}</td>
		<td>
                    {{lanche.nome}}<br/>
                    <ul id="ingredientes" type="circle"  data-ng-repeat="ing in lanche.ingredientes">
                        <li>{{ing.ingrediente.nome}}</li>
                    </ul>                    
                </td>
                <td>
                    <button type="button" class="btn btn-default" data-ng-click="openModal(lanche)" style="float: right;">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Escolher
                    </button>
                </td>		
	</tr>
</table>
<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
           <label class="control-label">Personalizar Lanches</label> 
        </h3>
        </div>
        <div class="panel-body">  
            <a href="#/personalizar" >Personalizar</a>
        </div>   
</div>


<!-- Modal -->
    <div id="lancheModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-ng-click="clearLanche()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Lanche escolhido</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="lanche-name" class="control-label">Nome:</label>
                        <input type="text" class="form-control" id="lanche-name" data-ng-model="lanche.nome">
                    </div>                    
                </div>
                
                <div class="modal-body" ng-if="valores">
                    <div class="form-group">
                        <label for="lanche-valor" class="control-label">Valor a pagar: {{valores.valorTotal | currency}} <br/></label>    
                        <label for="lanche-valor" class="control-label">Pedido realizado.</label>    
                    </div>                    
                </div>

                <div class="modal-footer" ng-if="!valores">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clearLanche()">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-ng-click="saveLanche(lanche)">Confirmar Compra</button>
                </div>
            </div>
        </div>
    </div>