<div class="py-5 text-center">
    <h2>Teste de BackEnd - Finch Inteligência Artificial</h2>
</div>
<div class="row">
    <div class="col-md-12 order-md-1">
        <form class="needs-validation inline " novalidate="">

            <div class="form-group row">
                <label for="tipo" class="col-sm-2 col-form-label">Usuário:</label>
                <div class="col-sm-10">
                    <input type="text" id="login" value="" placeholder="login" size="15" data-ng-model="usuario.login">
                    <input type="password" id="password" value="" placeholder="password" size="10" data-ng-model="usuario.password">
                    <button type="button" class="btn btn-secondary" data-ng-click="login(usuario)">Login</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-span-12">
                     Autenticação: {{status}}
                </div>
            </div>

            <div class="form-group row" ng-if="autenticacao">
                <label for="tipo" class="col-sm-6 col-form-label">Selecione o tipo de texto a ser analisado:</label>
                <div class="col-sm-2">
                    <select class="custom-select d-block w-100" id="tipo" data-ng-model="classificacao.tipo" >
                        <option value="publicacao">Publicação</option>
                        <option value="ata">Ata</option>
                    </select>
                </div>
                <label for="confiancaDesejada" class="col-sm-2 col-form-label">Confiança:
                </label>
                <input type="text" id="display" value="0" readonly="readonly" size="3" data-ng-model="classificacao.confiancaDesejada"  >
                <input type="range" id="confiancaDesejada" min="0" max="100" step="5" value="0" oninput="display.value=value;" onchange="display.value=value" >
            </div>
            <div class="form-group" ng-if="autenticacao">
                <div class="col-span-12">
                    <textarea class="form-control" aria-label="" id="texto" rows="10" data-ng-model="classificacao.texto" ></textarea>
                </div>
            </div>

            <div class="form-group" ng-if="autenticacao">
                <div class="col-span-12">
                    Retorno da IA: {{retorno}}
                </div>
            </div>

            <div class="form-group row" ng-if="autenticacao">
                <div class="col-6 col-md-4">
                    <button type="button" class="btn btn-secondary" data-ng-click="ata()">Exemplo Ata</button>
                    <button type="button" class="btn btn-secondary" data-ng-click="ata2()">Exemplo 2 Atas</button>
                    <button type="button" class="btn btn-secondary" data-ng-click="publicacao()" >Exemplo Publicação</button>

                </div>
                <div class="col-6 col-md-4"></div>
                <div class="col-6 col-md-4 well pull-right">
                    <button type="button" class="btn btn-info" data-ng-click="openModal()">Configurações</button>
                    <button type="button" class="btn btn-dark btn" data-ng-click="classificar(classificacao)">Enviar</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- Modal -->
<div id="configModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">URLs</h4>
                <button data-ng-click="clear()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="ata" class="control-label">Ata:</label>
                    <input type="text" class="form-control" id="ata" data-ng-model="configuracao.ata">
                </div>
                <div class="form-group">
                    <label for="publicacao" class="control-label">Publicação:</label>
                    <input type="text" class="form-control" id="publicacao" data-ng-model="configuracao.publicacao">
                </div>
            </div>

            <div class="modal-body" ng-if="mensagem">
                <div class="form-group">
                    {{mensagem}}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="clear()">Cancelar</button>
                <button type="button" class="btn btn-primary" data-ng-click="gravar(configuracao)">Gravar</button>
            </div>
        </div>
    </div>
</div>